
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
body{
    font-family: 'Popins',Arial, Helvetica, sans-serif;
    background-color: var(--Very-Light-Gray);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
 --Orange: hsl(34, 97%, 64%);
 --Blue: hsl(212, 86%, 64%);

 --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
 


}
.heading{
    margin-top: 1rem;
    

}

.heading1{
    color: var(--Grayish-Blue);
    text-align: center;
    font-weight: 100;
    
}
.heading2{
    color: var(--Very-Dark-Blue);
    text-align: center;
    padding-top: .25rem;
}
.heading3{
    color: var(--Grayish-Blue);
    text-align: center;
    font-size: small;
    padding-top: .75rem;
   
    

}


header{
display: flex;
justify-content: space-evenly;
flex-direction: column;
margin-top: 3rem;

}
.cards{
    display: flex;
    
    max-width: 1100px;
    margin:0 auto;

    justify-content: center;
    align-items: center;
    
     margin-top: 1rem;    
     

    margin-left: 15rem;
}



.card1{
    width: 270px;
    height: 200px;
    box-shadow: 0px  10px 20px  rgba(0,0,0,0.19), 0 6px 6px rgb(0,0,0,0.23);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    border-top: 5px solid hsl(180,62%,55%);
    
    

    margin: 0 auto;
    position: relative;
    top: 5rem;
    right: 1rem;
    
}

.uppername{

      padding-left: 1rem;
      color: var(--Very-Dark-Blue);

}

.para{
    font-weight: 300;
    font-size: smaller;
    color: var(--Grayish-Blue);
    padding-left: 1.2rem;
}

.icon{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.icon img{

    width: 50px;
}

.card2{
    width: 270px;
    height: 200px;
    box-shadow: 0px  10px 20px  rgba(0,0,0,0.19), 0 6px 6px rgb(0,0,0,0.23);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    border-top: 5px solid hsl(0, 78%, 62%);
     
    margin: 0 auto;

}

.card3{
    width: 270px;
    height: 200px;
    box-shadow: 0px  10px 20px  rgba(0,0,0,0.19), 0 6px 6px rgb(0,0,0,0.23);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    border-top: 5px solid hsl(34, 97%, 64%);
  
      margin: 0 auto;
      position: relative;
      top: 14rem;
      right: 17rem;
   
}

.card4{
    width: 270px;
    height: 200px;
    box-shadow: 0px  10px 20px  rgba(0,0,0,0.19), 0 6px 6px rgb(0,0,0,0.23);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
    border-top: 5px solid hsl(212, 86%, 64%);
margin: 0 auto;
position: relative;
right: 15rem;
top:4rem
}